---
import { projects } from "@/data";
import SectionHeading from "../section-heading.astro";
import ProjectItem from "./item";
---

<section id="projects" class="scroll-mt-28 mb-28">
  <SectionHeading>My Projects</SectionHeading>
  <div class="flex flex-col gap-4">
    {
      projects.map((project, index) => (
        <Fragment key={index}>
          <ProjectItem client:load {...project} />
        </Fragment>
      ))
    }
  </div>
</section>
