---
import { changeLanguage } from "i18next";
import Layout from "@/layouts/layout.astro";
import Intro from "@/components/intro.astro";
import About from "@/components/about.astro";
import SectionDivider from "@/components/section-divider.astro";
import Projects from "@/components/projects/index.astro";
import Skills from "@/components/skills/index.astro";
import Experiences from "@/components/experience/index.astro";
import Contact from "@/components/contact.astro";

changeLanguage("mn");
---

<Layout title="Uurstaikh Nyambat Portfolio.">
  <main class="flex flex-col items-center px-4">
    <Intro />
    <SectionDivider />
    <About />
    <Skills />
    <Experiences />
    <Projects />
    <Contact />
  </main>
</Layout>
