---
import SectionHeading from "./section-heading.astro";
import { motion } from "framer-motion";
---

<motion.section
  client:load
  className="mb-28 max-w-[45rem] text-center leading-8 sm:mb-40 scroll-mt-28"
  initial={{ opacity: 0, y: 100 }}
  animate={{ opacity: 1, y: 0 }}
  transition={{ delay: 0.175 }}
  id="about"
>
  <SectionHeading>About me</SectionHeading>
  <p class="mb-3">With six years of experience in Software Development and DevOps, I've honed my skills across a diverse range of applications and systems. My passion for collaboration and strong software development abilities have made me a respected team player. I hold a particular interest in backend, full-stack development, and DevOps engineering.</p>
</motion.section>
