---
import SectionHeading from "./section-heading.astro";
import { motion } from "framer-motion";
import { t } from "i18next";
---

<motion.section
  client:load
  className="mb-28 max-w-[45rem] text-center leading-8 sm:mb-40 scroll-mt-28"
  initial={{ opacity: 0, y: 100 }}
  animate={{ opacity: 1, y: 0 }}
  transition={{ delay: 0.175 }}
  id="about"
>
  <SectionHeading>{t("about-me")}</SectionHeading>
  <p class="mb-3">{t("about-detail")}</p>
</motion.section>
