---
import SectionHeading from "../section-heading.astro";
import Experiences from "./experiences";
---

<section id="experience" class="scroll-mt-28 mb-28 sm:mb-40 max-w-[53rem]">
  <SectionHeading>My Experience</SectionHeading>
  <Experiences client:load />
</section>
